{% extends "masterlayout.html" %}
{% block content %}

  <title>About</title>
  <h1>About Page</h1>

  <p>
    Parklin farms is a family owned farm in Aldergrove, B.C. We take great pride in
    making the best produce and cattle we can doing so means we have alot of equipment.
    Our equipment is extremely sturdy and reliable and is always in the best shape we can make it for you.
    We also have eqipment for every need, from house work like mowing the lawn, to building houses.
    We have the equipment the whole way through and if it's not in stock you can always reserve
    it at the contact page, we're like your equipment library.
  <br>
  <br>
    sincerely,
  <br>
    The Parklin Farms Rentals team.
    
{% endblock content %}
